
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Harrison Police Department</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Harrison Police Department" />
  <meta name="keywords" content="Harrison Police Department" />
  <meta name="author" content="Daigon Design Department" />

    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
  
  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Simple Line Icons -->
  <link rel="stylesheet" href="css/simple-line-icons.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <!-- Owl Carousel  -->
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <!-- ENGTECH Style -->
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>

  <body>


    <div style="font-size:20px; font-weight:900; margin:50px; text-align:center">File a Report</div>

    <section class="cont-section">
 
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="main-content">

            

            <div class="form-general">

                  <div class="form-group">
                    <label for="name">Name</label>
             
                      <%= Report.name %>
               
                  </div>

                  <div class="form-group">
                    <label for="e-mail">e-mail</label>
                    <%= Report.email %>
                  </div>

                  <div class="form-group">
                    <label for="message">What Happened?</label>
                    <%= Report.whatHappened %>
                  </div>

                  <div class="form-group">

                    <div class="radio-checks">

                      <label for="lorem">Are you reporting on behalf of a minor or incapacitated person?</label>
                      <%= Report.reportingOnBehalf %>
                    </div>

                  </div>
                  <% if (Report.reportingOnBehalf === 'Yes') { %>
                   
                    <div class="group-inputs">
                      <div class="form-group">
                        <label for="lorem">Victim’s Name</label>
                     
                        <%= Report.VictimName %>
                      </div>
  
                      <div class="form-group">
                        <label for="lorem">Victim’s Address</label>
                    
                        <%= Report.VictimAddress %>
                      </div>
  
                      <div class="form-group">
                        <label for="lorem">What is your relationship to the Victim?</label>
                        
                        <%= Report.VictimRelationship %>
                      </div>
                    </div>
                  <% } %>

                  <!-- RADIO BUTTONS -->

                  <div class="form-group">
                    <div class="radio-checks">

                      <label for="lorem">Do you have in your possession, actual physical evidence of this crime such as video or digital evidence?</label>
                      <%= Report.Q1 %>

                    </div>
                  </div>   <!-- radio button -->

                  <div class="form-group">
                    <div class="radio-checks">

                      <label for="lorem">Do you understand that filing a false police report is a crime?</label>
                      <%= Report.Q2 %>

                    </div>
                  </div>   <!-- radio button -->

                  <div class="form-group">
                    <div class="radio-checks">

                      <label for="lorem">Did the incident occur within the Harrison city limits?</label>
                      <%= Report.Q3 %>

                    </div>
                  </div>   <!-- radio button -->

                  <div class="form-group">
                    <div class="radio-checks">

                      <label for="lorem">Are you eighteen (18) years of age or older?</label>
                      <%= Report.Q4 %>

                    </div>
                  </div>   <!-- radio button -->

                  <div class="form-group">
                    <div class="radio-checks">


                    </div>
                  </div>   <!-- radio button -->

                  <div class="form-group">
                    <div class="radio-checks">
                     
                      <label for="lorem">Email a copy of the report to me</label>
                      <% if (Report.Q6 == true) { %>
                        Yes
                      <% } %>
                      <% if (Report.Q6 == false ) { %>
                       No
                      <% } %>
                    </div>
                  </div>   <!-- radio button -->

                  

            </div>

          </div>
        </div>


        


      </div>
    </div>

    </section>

    <div class="lol-spacer lol-spacer-lg"></div>







  <!-- -- FINAL HOME -- -->

  <!-- jQuery -->
  <script src="js/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="js/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js" integrity="sha384-VspmFJ2uqRrKr3en+IG0cIq1Cl/v/PHneDw6SQZYgrcr8ZZmZoQ3zhuGfMnSR/F2" crossorigin="anonymous"></script>

  <!-- Waypoints 
  <script src="js/jquery.waypoints.min.js"></script>
  -->
  <!-- Owl Carousel -->
  <script src="js/owl.carousel.min.js"></script>
  <!-- Deslizar suave 
  <script src="js/deslizar.js"></script>
  -->


  <!-- Main JS (Do not remove) -->
  <script src="js/main.js"></script>
  

  </body>
</html>